body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(120deg, #000000, #7c838b);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    color: #fff;
}

h1 {
    margin-bottom: 30px;
}

.btn {
    background: linear-gradient(45deg, #20353a, #94842c);
    border: none;
    border-radius: 30px;
    padding: 12px 25px;
    margin: 10px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: all 0,4s ease;
}
.btn:hover{
    background: linear-gradient(135deg, #ffffff, #849bcc);
    transform: scale(1.1);
    box-shadow: 0 0 20px #5b86e5;
    border: 2 px solid #36d1dc;
}